.venv/
venv/
env/
ENV/
build/
dist/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.sqlite3
db.sqlite3
*.db
*.log
*.pot
*.mo
*.coverage
.coverage
htmlcov/
.pytest_cache/
.env
.env.*
media/
backups/
staticfiles/
static/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
